@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playpen+Sans:wght@500&family=Saira+Stencil+One&display=swap');

$mainFont: 'Playpen Sans', cursive;
$title-font: 'Courier New';
$link-font: Arial;
